@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Slabo+27px);
@import 'bourbon';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  /* background-color: cyan; */
  background: url(/images/elevator4.jpg);
  background-attachment: fixed;

}

.header {
  background-color: #000000ae;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-inline: auto;
  padding: 40px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 2px 2px 2px 2px black;

}

h1,
p {
  color: white;
  font-weight: 400;
  font-family: sans-serif;

}

.card-text>p {
  color: black;
  /* text-align: start; */
}


h1 {
  font-size: 32px;
  margin-top: 30px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.blog-wrapper {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .blog-card {
    /* @include transition(.3s); */
    max-width: 300px;
    margin: 15px;
    background: #fff;
    border: 1px solid #CB6074;
    text-align: center;
    cursor: pointer;

    &:hover {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .1);

      .card-img {
        img {
          opacity: 0.8;
        }
      }
    }

    .card-img {
      position: relative;
      text-align: center;
      background: #CB6074;

      img {
        /* @include transition(.3s); */
        max-height: 180px;
        width: 100%;
        border-bottom: 4px solid #CB6074;
      }

      &:before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 50%;
        margin-left: -10px;
        width: 0;
        height: 0;
        border-top: solid 10px #CB6074;
        border-left: solid 10px transparent;
        border-right: solid 10px transparent;
      }

      h1 {
        position: absolute;
        margin: 0;
        font-size: 42px;
        bottom: 15px;
        width: 100%;
        color: #fff;
        font-family: 'Slabo 27px', serif;
      }
    }

    .card-details {
      margin-top: 30px;
      font-family: 'Roboto', sans-serif;
      color: #3C3C3C;

      span {
        padding: 0 30px;

        i {
          margin-right: 5px;
        }

      }
    }

    .card-text {
      padding: 30px 15px;
      font-family: 'Roboto', sans-serif;
      line-height: 22px;
      text-align: justify;
      word-spacing: -5px;


    }

    /* #CB6074 */

    .read-more {
      /* @include transition(.3s); */
      display: inline-block;
      width: auto;
      text-align: center;
      text-transform: uppercase;
      background: #CB6074;
      color: #fff;
      padding: 15px;
      margin-bottom: 30px;
      font-family: 'Oswald', sans-serif;

      &:hover {
        background: darken(#CB6074, 20%);
      }
    }
  }
}

.cardHead {
  color: rgb(rgb(221, 9, 9), green, blue);
  font-size: 30px !important;
  font-weight: 700;
}

img:hover {
  box-shadow: 7px 7px 7px 7px black;
}

.read-more:hover {
  background: rgb(250, 166, 10) !important;
}

.header>h1 {
  /* margin-bottom: 20px; */
  position: relative;
  bottom: 30px;
}